  <div class="col-md-4 col-lg-4 col-xl-4 d-none d-md-block">
    <div class="card mt-4">
      <h5 class="card-title card-header">Your Interest</h5>
      <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-check"></i> Gossips
            </li>
            <li class="list-group-item">
             <i class="fa fa-check"></i>  Sports
            </li>
            <li class="list-group-item">
             <i class="fa fa-check"></i> Entertainment
            </li>
            <li class="list-group-item">
             <i class="fa fa-check"></i> Health News
            </li>
          </ul>
          <p  class="ml-2 mt-4">
            <i class="fa fa-plus"></i><a href="#"  class="ml-2">Add Interest</a>
          </p>
      </div>

    </div>
  </div>