{% load static %}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="row">
              <a class="navbar-brand" href="#">
                  <img src="{% static 'images/GossipsBook.png' %}" alt="">
              </a>


            {% url 'questions:questions_index' as index_page %}
            {% url 'gossips:gossips_index' as gossips_page %}
            {% url 'cheaters:cheaters_index' as cheaters_page %}

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <form class="form-inline input-group">
                         <div class="input-group-prepend">
                          <div class="input-group-text bg-white"><i class="fa fa-search"></i></div>
                        </div>
                      <input class="form-control mr-sm-2" type="search" placeholder="Search GossipsBook..." aria-label="Search">
<!--                      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">-->
<!--                         <i class="fa fa-search"></i> Search-->
<!--                      </button>-->
                    </form>
                </ul>

                <ul class="navbar-nav mr-auto ml-5">
                      <li class="nav-item active">
                        <a class="nav-link  pr-4 pl-4" title="Home" href="#" style="font-size: 35px; padding: 0px;">
                            <i class="fa fa-home"></i>
                            <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link pr-4 pl-4" title="Answers" href="#" style="font-size: 35px; padding: 0px;"><i class="fa fa-edit"></i></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link pr-4 pl-4" title="Notification" href="#" style="font-size: 35px; padding: 0px;"><i class="fa fa-bell"></i></a>
                      </li>

                      <li class="nav-item dropdown pr-4 pl-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img style="height:30px; width:30px;" class="img-fluid rounded-circle" src="https://www.w3schools.com/bootstrap4/sanfran.jpg">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Messaging</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'users:login_user' %}">Sign In</a>
                          <a class="dropdown-item" href="#">Profile Settings</a>
                        </div>
                      </li>

                </ul>

                  </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
