{% load static %}
<style>
    .whichsection{
        position: relative;
        min-width: 0px;
        background-color: white;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0, .225);
        border-radius: .25rem;
        font-size: 18px;
        padding: 3px;
        text-align: center;
}

.whichsection a{
    color: #F77402;
}

.active_section{
  background-color: #F77402;
  color: white
}

.active_section a{
  color: white;
}
</style>

<div class="container mb-4">
    <div class="row whichsection">
        <div class="col">
            <a href="#">Questions</a>
        </div>
        <div> | </div>
        <div class="col active_section">
            <a href="#"> <i class="fa fa-check"></i> Gossips</a>
        </div>
        <div> | </div>
        <div class="col">
            <a href="#">Cheaters</a>
        </div>
    </div>
</div>
