{% load static %}
<style>
    .whichsection{
        position: relative;
        min-width: 0px;
        background-color: white;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0, .225);
        border-radius: .25rem;
        font-size: 18px;
        padding: 3px;
        text-align: center;
}

.whichsection a{
    color: #F77402;
}

.active_section{
  background-color: #F77402;
  color: white
}

.active_section a{
  color: white;
}
</style>
            {% url 'questions:questions_index' as questions_page %}
            {% url 'gossips:gossips_index' as gossips_page %}
            {% url 'cheaters:cheaters_index' as cheaters_page %}

<div class="container mb-4">
    <div class="row whichsection">
        <div class="col {% if request.path == questions_page %} active_section {% endif %}">
            <a href="{% url 'questions:questions_index' %}">
                     <i class="fa fa-check" style="color:white;"></i>

                Questions
            </a>
        </div>
        <div> | </div>

        <div class="col {% if request.path == gossips_page %} active_section {% endif %}">
            <a href="{% url 'gossips:gossips_index' %}">
                <i class="fa fa-check" style="color:white;"></i>
                Gossips
            </a>
        </div>


        <div> | </div>
        <div class="col {% if request.path == cheaters_page %} active_section {% endif %}">
            <a href="{% url 'cheaters:cheaters_index' %}">
                    <i class="fa fa-check" style="color:white;"></i>
                Cheaters
            </a>
        </div>
    </div>
</div>
