{% extends 'base.html' %}
{% block content %}


<div class="card">
      <div class="card-body">
        <h4 class="card-title d-inline">
          <img style="height:35px; width:35px;" class="img-fluid rounded-circle" src="https://www.w3schools.com/bootstrap4/sanfran.jpg">
          What is your name?
                   <h5 class="d-inline"><small class="text-muted">0 mins ago</small> </h5>
        </h4>
      </div>

      <img class="card-img-bottom" style="max-height:420px;" src="https://www.w3schools.com/bootstrap4/sanfran.jpg" alt="Card image cap">

      <div class="row">
        <div class="col m-2 pl-3">
        </div>

        <div class="col m-2 p-1">
            <button class="btn btn-sm btn-primary"> Answer</button>
            <div class="col d-inline"> <i class="fa fa-thumbs-down"></i> Oppose</div>

        </div>
       </div>
</div>


<br>
<br>
<br>


<div class="card">
      <div class="card-body">
        <h6 class="card-title">
          <img style="height:35px; width:35px;" class="img-fluid rounded-circle" src="https://www.w3schools.com/bootstrap4/sanfran.jpg">
          Bala

            <div class="row">
                <div class="col">
                    <small class="text-muted">0 mins ago</small>

                </div>

                <div class="col">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                    </div>
                    <div class="pull-right">39 persons voted</div>
                </div>
            </div>



        </h6>
        <h5>
          card with supporting text below as a natural lead-in to additional content.
          This content is a little
        </h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer... <a href="#">read more</a>
        </p>
      </div>
      <img class="card-img-bottom" style="max-height:420px;" src="https://www.w3schools.com/bootstrap4/sanfran.jpg" alt="Card image cap">

      <div class="row">
        <div class="col m-2 pl-3">
            <button class="btn btn-sm btn-primary"> <i class="fa fa-check"></i> True</button>
            <button class="btn btn-sm btn-danger"> <i class="fa fa-times"></i> False</button>
        </div>

        <div class="col m-2 p-1">
            <div class="col d-inline"> <i class="fa fa-share"></i> Share</div>
            <div class="col d-inline"><i class="fa fa-comment"></i> Comment</div>
        </div>
       </div>
</div>

{% endblock content %}



{% block navigation %}
      {% include 'navigation.html' %}
{% endblock navigation %}


{% block startwriting %}
    {% include 'startwriting.html' %}
{% endblock startwriting %}


{% block whichsection %}
    {% include 'whichsection.html' %}
{% endblock whichsection %}


{% block aside %}
      {% include 'aside.html' %}
{% endblock aside %}

{% block pagination %}
      <div class="mb-2 mt-3">
          {% include 'pagination.html' %}
      </div>
{% endblock pagination %}
