<!doctype html> {% load static %} {% load socialaccount %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bala">
    <meta name="description" content="Gossip Books">
    <meta name="keywords" content="Gossip Books, answers">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>{% block title%} {% endblock title%} | Gossip Books </title>
</head>

<body>

    <div class="container mt-5 justify-content-center text-center">
        <img src="{% static 'images/gossips_image.png' %}" alt="GossipsBook Image">
        <p style="font-size: 22px; word-spacing: 5px; color: #F77402;">
            A true information sharing social network
        </p>
    </div>


    <div class="mt-5 mb-5 mx-auto" id="signup">
        <form class="form-container" method="post">

            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" placeholder="email address...">
            </div>



            <div class="form-group">
                <input type="password" class="form-control" placeholder="enter password...">
            </div>

            <div class="form-group">
                <button type="button" class="btn pull-right" style="background-color: #F77402; color: white; font-size: 15px;">Log In</button>
            </div>

            <small class="form-text text-muted">
                           <a href="#">Forgot Password?</a>
                          </small>

            <br>
            <div class="row mt-2 text-center justify-content-center">
                <a href="https://gossipsbook.herokuapp.com/accounts/google/login/?process=login" class="col-4 mr-4 p-2" style="font-size: 20px; border-radius: 15px; background-color: #F03D3B; color: white; box-shadow: 1px 4px 7px 1px #000;">
                                    Connect with <i class="fa fa-google"></i>
                                </a>
                <a href="#" class="col-4 p-2" style="font-size: 20px; border-radius: 15px; background-color: #3A5794; color: white; box-shadow: 1px 4px 7px 1px #000;">
                                     Connect with <i class="fa fa-facebook"></i>
                                </a>
            </div>
            <div class="p-4 text-right">
                <a href="{% url 'gossips:gossips_index' %}"> Skip Sign in</a>
            </div>
        </form>
        <div class="row mt-5 justify-content-center">
            <div class="p-2">About | </div>
            <div class="p-2">Terms of use | </div>
            <div class="p-2">Privacy | </div>
            <div class="p-2">&copy; GossipsBook, India</div>
        </div>

    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>