body{
    background-color: #F1F2F2;
}

 /* NAVBAR CUSTOMIZATION */
.navbar {
  min-height: 50px;
  background-color: #F77402;
  box-shadow: 0px 4px 5px grey;
}

.navbar a{
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
   color: white;
  }

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
}

.active{
    padding-top: 0px;
    border-bottom: 1px solid white;
}
.navbar-brand {
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 5px 3px !important;
}

 /* END NAVBAR CUSTOMIZATION */



 /* Pagination CUSTOMIZATION */
.page-item.active .page-link{
    background-color: #F77402;
    border: 1px solid #F77402;
    color: white;
}

li.page-item{
    color: #F77402;
}

.page-link{
    color: #F77402;
}
 /* End pagination */

  /* register login page */
.bg{
background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../images/register_bg.jpg");

  /* Set a specific height */
  height: 100%;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  background-attachment: fixed;
}

  /* end register login page */