{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

{% for question in questions %}

  {% include 'answers/all_answers.html' %}

{% endfor %}


<!-- Modal -->
<div class="modal fade" id="send_to_category" tabindex="-1" role="dialog" aria-labelledby="send_to_category" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
            <form method="post">
                <h6>Share this question with its reply as</h6>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="share_to_gossips">
                    <input class="form-check-input" type="radio" name="share_to" value="share_to_gossips" id="share_to_gossips">
                       Gossips
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="share_to_cheaters">
                    <input class="form-check-input" name="share_to" type="radio" id="share_to_cheaters" value="share_to_cheaters">
                    Cheaters
                  </label>
                </div>

                <br>
                {% csrf_token %}
                <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-sm btn-outline-primary"> <i class="fa fa-paper-plane"></i> Send</button>
                </div>
            </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}



{% block navigation %}
      {% include 'navigation.html' %}
{% endblock navigation %}


{% block aside %}
      {% include 'aside.html' %}
{% endblock aside %}

{% block pagination %}
      <div class="mb-2 mt-3">
          {% include 'pagination.html' %}
      </div>
{% endblock pagination %}


