{% extends 'base.html' %}
{% block content %}

<div class="card mt-5 mb-5">
      <h4 class="card-title card-header">Login To GossipsBook</h4>
      <div class="card-body">
            <section class="container-fluid">
                  <div class="justify-content-center">
                    <form class="form-container" method="post">

                      {% csrf_token %}

                      <div class="form-group">
                        <label for="email">Email:</label>
                        {{form.email}}
                      </div>

                      <div class="form-group">
                        <label for="password">Password:</label>
                        {{form.password1}}
                      </div>

                      <div class="form-group">
                        <button class="btn btn-block" style="background-color: #F77402; color: white; font-size: 18px;">Log In</button>
                      </div>

                      <small class="form-text text-muted">
                       Need An Account? <a href="#">Sign Up Here</a>
                      </small>

                        <small class="form-text text-muted">
                       <a href="#">Forgot Password</a>
                      </small>
                      {{form.errors}}
                    </form>
                  </div>
                </section>
      </div>
</div>
{% endblock content %}