<!doctype html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bala">
    <meta name="description" content="Gossip Books">
    <meta name="keywords" content="Gossip Books, answers">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>{{user.username}}'s Profile | Gossip Books </title>
    <style>
        .card-text {
            border-bottom: 1px solid rgb(219, 213, 213);
            padding-bottom: 3px;
        }
        
        .active_section {
            background-color: #F77402;
            border: #F77402;
            color: white;
        }
        
    </style>

</head>

<body>
    <div class="mb-5">
        <!-- Navigation -->
        {% include 'navigation.html' %} 
        <!-- End Navigation -->
    </div>
    <div class="container image-container">
        <div class="row">
            <img class="img-fluid profile_hero" src="{{user_profile.profile.image.url}}
            " alt="{{user_profile.username}}'s image">
        </div>

        <div class="row">
            <section class="col-4">
                <div class="card profile_image">
                    <img class="card-img-top" src="{{user_profile.profile.image.url}}" alt="{{user_profile.username}} profile image">
                    <div class="card-body pt-2">
                        {% if not request.user == user_profile %}
                        {% if request.user in user_profile.profile.followers.all %}
                        <a href="{% url 'users:follow_user' user_profile.username %}" class="btn btn-outline-light btn-sm btn-block follow-button mb-3"><i class="fa fa-user-minus"></i> Unfollow</a>
                        {% else %}
                        <a href="{% url 'users:follow_user' user_profile.username %}" class="btn btn-outline-light btn-sm btn-block follow-button mb-3"><i class="fa fa-user-plus"></i> Follow</a>
                        {% endif %}
                        {% endif %}
                        <p class="card-text text-lead">Followers: {{followers.count}}</p>
                        <p class="card-text">Following: {{following.count}}</p>
                        <p class="card-text">Gossips: {{user_gossips.count}}</p>
                        <p class="card-text">Questions: {{user_questions.count}}</p>
                        <p class="card-text">Cheaters: {{user_cheaters.count}}</p>
                        <p class="card-text">Answers: 0 </p>
                        <p class="card-text">Location: {{user_profile.profile.location}}</p>
                        <p>Languages: {{user_profile.profile.languages}}</p>
                        {% if request.user == user_profile %}
                        <p>
                            <a class="p-0 m-0" href="#"> Edit Profile</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </section>

            <section class="col-8 mt-4 pl-5">

                <!-- PROFILE DETAIL FOR MD SCREEN SIZE -->
                <div class="d-none d-md-inline">
                    <div class="row">
                        <div class="col-4">
                            {{user_profile.username}}
                            <br>
                            <i class="fa fa-map-marker"></i> {{user_profile.profile.location}}
                        </div>
                        <div class="col-4">
                            <a href="#" class="btn btn-outline-dark"><i class="fa fa-send"></i> Send Message</a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="btn btn-outline-dark"><i class="fa fa-share-alt"></i> Share Profile</a>
                        </div>
                    </div>
                </div>

                <!-- PROFILE DETAIL FOR SM SCREEN SIZE -->
                <div class="d-sm-inline d-md-none">
                    <div class="row">
                        <div class="col-7">
                            {{user_profile.username}}
                            <br>
                            <i class="fa fa-map-marker"></i> {{user_profile.profile.location}}
                        </div>
                        <div class="col-2">
                            <a href="#"><i class="fa fa-send"></i></a>
                        </div>
                        <div class="col-2">
                            <a href="#"><i class="fa fa-share-alt"></i></a>
                        </div>
                    </div>
                </div>


                <section>
                    
                    <div class="row mt-5 justify-content-center">
                        <div class="btn btn-outline-dark btn-sm m-2" id="gossipsButton">
                            Gossips
                        </div>

                        <div class="btn btn-outline-dark btn-sm m-2" id="questionsButton">
                            Questions
                        </div>

                        <div class="btn btn-outline-dark btn-sm m-2" id="cheatersButton">
                            Cheaters
                        </div>

                        <div class="btn btn-outline-dark btn-sm m-2" id="AnswersButton">
                            Answers
                        </div>

                        <div class="btn btn-outline-dark btn-sm m-2">
                           Following
                        </div>

                        <div class="btn btn-outline-dark btn-sm m-2">
                            Follwers
                        </div>
                    </div>
                </section>

                <hr>
                <main class="detailSection" id="questionsList">
                    {% for question in user_questions %}
                    <div class="card mb-2">   
                        <div class="card-body p-1"><a href="{% url 'questions:question_detail' question.slug %}">{{question.title}}</a> </div> 
                    </div>
                    {% endfor %}
                </main>

                <main class="detailSection" id="gossipsList">
                    {% for gossip in user_gossips %}
                    <div class="card mb-2">   
                        <div class="card-body p-1"><a href="{% url 'gossips:gossip_detail' gossip.slug %}">{{gossip.title}}</a> </div> 
                    </div>
                    {% endfor %}
                </main>

                <main class="detailSection" id="cheatersList">
                    {% for cheater in user_cheaters %}
                    <div class="card mb-2">   
                        <div class="card-body p-1"><a href="{% url 'cheaters:cheater_detail' cheater.slug %}">{{cheater.title}}</a> </div> 
                    </div>
                    {% endfor %}
                </main>

                <hr>
                <main>
                    <h6>Bio:</h6>
                    <div class="card">
                        <div class="card-body">
                                {{user_profile.profile.bio|safe}}
                        </div> 
                    </div>
                </main>
                <hr>
                <main>
                    <h6>Interests:</h6>
                    <div class="">   
                        <div class="card-body p-1">
                            <ul>
                                {% for interest in user_profile.profile.interests.all %}
                                    <li>{{ interest.title }} </li>
                                {% endfor %}
                            </ul>
                        </div> 
                    </div>
                </main>
            </section>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <script>
        $('.detailSection').hide();
        $('#gossipsButton').addClass('active_section');
        $('#gossipsList').show(); 
         
        $('#gossipsButton').on('click', function() {
            $('.detailSection').hide();
            $('#questionsButton').removeClass('active_section');
            $('#cheatersButton').removeClass('active_section');
            $('#gossipsButton').addClass('active_section');
            $('#gossipsList').show();     
        });

        $('#cheatersButton').on('click', function() {
            $('.detailSection').hide();
            $('#questionsButton').removeClass('active_section');
            $('#gossipsButton').removeClass('active_section');
            $('#cheatersButton').addClass('active_section');
            $('#cheatersList').show();     
        });

        $('#questionsButton').on('click', function() {
            $('.detailSection').hide();
            $('#gossipsButton').removeClass('active_section');
            $('#cheatersButton').removeClass('active_section');
            $('#questionsButton').addClass('active_section');
            $('#questionsList').show();     
        });
    </script>
</body>

</html>