{% extends 'base.html' %} 
{% block content %} 

{% url 'cheaters:cheater_add_comment' as cheater_comment_form %}
{% url 'cheaters:cheater_reaction' as reaction_url %}

<section class="ml-3">
   {% include 'detail.html' with post=cheater comment_form_url=cheater_comment_form reaction_url=reaction_url hidden_id='cheater' %}
</section>

{% endblock content %}

<section>
   {% block navigation %} {% include 'navigation.html' %} {% endblock navigation %}
</section>


<section>
   {% block aside %} {% include 'aside.html' %} {% endblock aside %}
</section>
