{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

{% for cheater in cheaters %}
<div class="card mb-4">
      <div class="card-body">
        <h6 class="card-title">
          <img style="height:35px; width:35px;" class="img-fluid rounded-circle"   src="{{cheater.author.profile.image.url}}">

            {{cheater.author.username}}

            <div class="row">
                <div class="col">
                    <small class="text-muted">{{cheater.date_published|naturaltime}}</small>

                </div>

                <div class="col">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: {{cheater.percent_true}}%" aria-valuenow="{{cheater.percent_true}}" aria-valuemin="0" aria-valuemax="100">{{cheater.percent_true}}%</div>
                      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{cheater.percent_false}}%" aria-valuenow="{{cheater.percent_false}}" aria-valuemin="0" aria-valuemax="100">{{cheater.percent_false}}%</div>
                    </div>
                    <div class="pull-right">{{cheater.get_total_voters}} person{{cheater.get_total_voters|pluralize}} voted</div>
                </div>
            </div>


        </h6>
        <h5> {{cheater.title|truncatewords:30}}    </h5>
        <p class="card-text"> {{cheater.content|truncatewords:255}} </p>
      </div>

    {% if cheater.image %}
      <img class="card-img-bottom" style="max-height:420px;" src="{{cheater.image.url}}" alt="Card image cap">
    {% endif %}

      <div class="row">
        <div class="col m-2 ml-4 d-inline">
            <div class="row d-inline">
                <form class="d-inline" action="{% url 'cheaters:cheater_reaction' cheater.id %}">
                    <input type="hidden" name="action" value="true">
                    {% if user in cheater.true.all %}
                        <button
                                type="button"
                                onclick="funcTrue()"
                                class="btn btn-sm btn-primary disabled">
                            <i class="fa fa-check"></i> True
                        </button>
                    {% else %}
                        <button class="btn btn-sm btn-primary"> <i class="fa fa-check"></i> True</button>
                    {% endif %}
                </form>

                 <form class="d-inline" action="{% url 'cheaters:cheater_reaction' cheater.id %}">
                    <input type="hidden" name="action" value="false">
                     {% if user in cheater.false.all %}
                        <button
                                type="button"
                                onclick="funcFalse()"
                                class="btn btn-sm btn-danger disabled">
                            <i class="fa fa-times"></i> False
                        </button>
                     {% else %}
                        <button class="btn btn-sm btn-danger"> <i class="fa fa-times"></i> False</button>
                     {% endif %}
                </form>
            </div>
        </div>

        <div class="col m-2 p-1 d-inline">
            <a href="#" class="mr-3"> <i class="fa fa-share"></i> Share</a>
            <a href="#"
               class="comment"
               data-toggle="modal"
                data-id="{{cheater.id}}"
                data-title="{{cheater.title}}"
               data-target="#commentModal">
                <i class="fa fa-comment"></i> Comment
            </a>
        </div>
       </div>
</div>
{% endfor %}


<!-- comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="row pl-5 pt-3 container">
            <div id="cheaterToComment">
            </div>
        </div>

        {% if user.is_authenticated %}
        <form action="{% url 'cheaters:cheater_add_comment' %}" method="post">
            {% csrf_token %}
            <div class="row container mx-auto">
                <textarea class="form-control m-3 mt-2" name="commentContent" cols="25" rows="5" placeholder="Your comment..."></textarea>
            </div>

            <input type="hidden" name="cheaterId" id="cheaterId">

              <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary"><i class="fa fa-send"></i> Answer </button>
              </div>
         </form>
        {% else %}
        <div class="container mt-2 p-4">
            Would you like to comment on this cheater's story? Please <a href="/accounts/login">login</a>
        </div>
        {% endif %}
    </div>
  </div>
</div>
<!-- End comment Modal -->

{% endblock content %}



{% block navigation %}
      {% include 'navigation.html' %}
{% endblock navigation %}


{% block startwriting %}
    {% include 'startwriting.html' %}
{% endblock startwriting %}


{% block whichsection %}
    {% include 'whichsection.html' %}
{% endblock whichsection %}


{% block aside %}
      {% include 'aside.html' %}
{% endblock aside %}


{% block customJs %}
<!-- customJs -->
<script>
    funcTrue(){
        alert("You've already indicated that this story is True");
    }

    funcFalse(){
        alert("You've already indicated that this story is False");
    }
</script>

<script>
        $('.comment').on('click', function(){
            var id = $(this).data('id');
            var title = $(this).data('title');

            $("#cheaterId").val(id)

            $(".appendTitle").remove()
            $("<h5 class='appendTitle'>" + title + "</h5>").insertAfter('#cheaterToComment');

        });
</script>

  {% endblock customJs %}
<!-- End customJs -->